.button{
    -fx-background-color: transparent;
    -fx-border-color: #f9f9fb;
    -fx-text-fill: #f9f9fb;
}
.button:hover{
    -fx-border-color: transparent;
    -fx-background-color: #f9f9fb;
    -fx-text-fill: black;
}
.button:focused{
    -fx-border-color: transparent;
    -fx-background-color: #f9f9fb;
    -fx-text-fill: black;
}
.text-field {
	-fx-background-color: transparent;
    -fx-text-fill: #f9f9fb;
    -fx-border-color: #f9f9fb;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-text-inner-color: #ffffff;
}
.text-field:focused {
	-fx-background-color: transparent;
	-fx-text-inner-color: #ffffff;
}

.spinner {
 -fx-background-color: transparent;
 -fx-text-inner-color: #ffffff;
}
.spinner:focused,
.spinner:contains-focus {
  -fx-background-color: transparent;
  -fx-text-inner-color: #ffffff;
}
.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
	-fx-background-color: transparent;
	-fx-border-color: #f9f9fb;
}
.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
	-fx-background-color: #f9f9fb;
}
.spinner .increment-arrow-button:hover:pressed,
.spinner .decrement-arrow-button:hover:pressed,
.spinner .increment-arrow-button:pressed,
.spinner .decrement-arrow-button:pressed {
	-fx-background-color: #f9f9fb;
}
.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
	-fx-background-color: #f9f9fb;
}
.spinner .increment-arrow-button:hover .increment-arrow,
.spinner .decrement-arrow-button:hover .decrement-arrow {
	-fx-background-color: black;
}

.choice-box {
  -fx-background-color: transparent;
  -fx-mark-color: #f9f9fb;
  -fx-border-color: #f9f9fb;
}
.choice-box > .label { -fx-text-fill: #f9f9fb; }
.choice-box .context-menu { -fx-background-color: #242424; }
.choice-box .menu-item:focused { -fx-background-color: #f9f9fb; }
.choice-box .menu-item > .label { -fx-text-fill: #f9f9fb; }
.choice-box .menu-item:focused > .label { -fx-text-fill: #242424; }

.date-picker{
    -fx-background-color: white;
    -fx-text-fill: white;
}
.date-picker .text-field{
    -fx-background-color: #242424;
    -fx-font-family: Segoe UI Semilight;
    -fx-font-size: 14px
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
}
.date-picker .arrow-button {
	-fx-background-color: #242424;
	-fx-background-radius: 0;
}
.date-picker .arrow-button .arrow {
 	-fx-background-color: white;
}
.date-picker .arrow-button:hover {
	-fx-background-color: white;
}
.date-picker .arrow-button:hover .arrow {
	-fx-background-color: #242424;
}
.date-picker .cell {
	-fx-background-color: #242424;
	-fx-text-fill: white;
}
.date-picker .cell:hover {
	-fx-background-color: white;
	-fx-text-fill: #242424;
}
.date-picker .cell:focused {
	-fx-background-color: grey;
	-fx-text-fill: white
}
.date-picker .selected {
	-fx-background-color: grey;
	-fx-text-fill: white;
}
.date-picker .selected:focused {
	-fx-background-color: grey;
	-fx-text-fill: white;
}
.date-picker-popup  {
	-fx-border-color: transparent;
}
.date-picker-popup .month-year-pane {
	-fx-background-color: #242424;
}
.date-picker-popup .month-year-pane .label {
	-fx-text-fill: white;
}
.date-picker-popup .week-number-cell {
	-fx-text-fill: white;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: white;
}
.date-picker-popup .spinner .button:hover .left-arrow,
.date-picker-popup .spinner .button:hover .right-arrow {
	-fx-background-color: #242424;
}

.table-view {
    -fx-background-color: transparent;
}
.table-view .corner {
    -fx-background-color: transparent;
}
.table-view .column-header,
.table-view .column-header .filler{
    -fx-background-color:transparent;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(#f9f9fb 80%, #242424 100%);
    -fx-text-color: #242424;
}

.table-view .table-cell{
    -fx-border-color: #f9f9fb;
    -fx-border-width: 0px 1px 1px 1px;
    -fx-alignment: CENTER;
}
.table-row-cell: hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: red;
}
.table-row-cell{
    -fx-background-color: #242424;
    -fx-text-background-color: #f9f9fb;
}
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  #f9f9fb;
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  #f9f9fb;
}

.combo-box {
  -fx-background-color: transparent;
  -fx-mark-color: #f9f9fb;
  -fx-border-color: #f9f9fb;
}
.combo-box .list-cell:selected:filled .text{
    -fx-fill: #f9f9fb
}
.combo-box .arrow{
    -fx-background-color: #f9f9fb;
}
.combo-box .arrow-button{
    -fx-background-color:#242424;
    -fx-border-style:none;
}
.combo-box .list-view:vertical{
    -fx-background-color:#242424;
    -fx-text-fill: #f9f9fb
}
.combo-box-popup .list-cell {
    -fx-background-color: #242424;
    -fx-text-fill: #f9f9fb;
}
.combo-box-popup .list-cell:hover {
    -fx-background-color: #f9f9fb;
    -fx-text-fill: #242424;
}
.combo-box-popup .scroll-bar:vertical {
    -fx-background-color: #242424;
}
