#button_login{
    -fx-background-color: transparent;
    -fx-border-color: #f9f9fb;
}
#button_login:hover{
    -fx-border-color: transparent;
    -fx-background-color: #f9f9fb;
    -fx-text-fill: black;
}
#button_login:focused{
    -fx-border-color: transparent;
    -fx-background-color: #f9f9fb;
    -fx-text-fill: black;
}

.button{
    -fx-text-fill:#f9f9fb;
}

.button:hover{
    -fx-text-fill: darkgrey;
}
.button:focused{
    -fx-text-fill: darkgrey;
}


